{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "mcp-atlassian": {
      "type": "local",
      "command": [
        "uvx",
        "--python=3.12",
        "mcp-atlassian"
      ],
      "environment": {
        "JIRA_URL": "https://commercetools.atlassian.net",
        "JIRA_USERNAME": "{{ .email }}",
        "CONFLUENCE_URL": "https://commercetools.atlassian.net/wiki",
        "CONFLUENCE_USERNAME": "{{ .email }}"
      },
      "enabled": true,
      "timeout": 60000
    },
    "grafana-mcp": {
      "type": "local",
      "command": [
        "{{ .chezmoi.homeDir }}/bin/mcp-auth-proxy",
        "-url",
        "https://grafana-mcp.sso.sre.europe-west1.gcp.commercetools.com/sse"
      ],
      "enabled": true,
      "timeout": 60000
    }
  }
}
