[[watch]]
path = "~/Downloads"

[[rule]]
name = "Trash old DMG installers"
[rule.condition]
extension = "dmg"
age_days_greater_than = 7
[rule.action]
type = "trash"

[[rule]]
name = "Trash old PKG installers"
[rule.condition]
extension = "pkg"
age_days_greater_than = 7
[rule.action]
type = "trash"

[[rule]]
name = "Trash incomplete downloads"
[rule.condition]
extensions = ["crdownload", "part"]
age_days_greater_than = 3
[rule.action]
type = "trash"

[[rule]]
name = "Organize payslips"
[rule.condition]
name_regex = "^Mathias_Oertel_Payslip_\\d{2}-\\d{4}\\.pdf$"
[rule.action]
type = "run"
command = "{{ .chezmoi.homeDir }}/.config/hazelnut/scripts/organize-payslip.sh"
args = ["{path}"]

[[rule]]
name = "Route commercetools docs to Inbox"
[rule.condition]
name_regex = "(?i)(commercetools|commerce-tools)"
[rule.action]
type = "move"
destination = "~/Library/CloudStorage/ProtonDrive-mathias.oertel@pm.me-folder/Documents/Arbeit/commercetools/Inbox"
create_destination = true

[general]
log_level = "info"
debounce_seconds = 2
polling_interval_secs = 30
log_retention = 1000
start_daemon_on_launch = true
notifications_enabled = false
theme = "cyberpunk"
